/* Laptops / Desktops */
@media screen and (max-width: 712px) {
  .section1 {
    height: 12rem;
  }

  button {
    font-size: 17px;
  }

  button:hover,
  button:focus {
    font-size: 18px;
  }
}

/* Tablets / Smartphones */
@media screen and (max-width: 437px) {
  .section1 {
    height: 10rem;
  }

  .section2 {
    flex-direction: column;
  }

  .borderBtn:first-child {
    margin-bottom: 1rem;
  }

  button {
    font-size: 15px;
  }

  button:hover,
  button:focus {
    font-size: 16px;
  }

  h1 {
    font-size: 3rem;
  }
}

/* Small phones */
@media screen and (max-width: 291px) {
  .section1 {
    height: 12rem;
  }
}
