/* #region Laptops --> max-width : 1004px */

@media screen and (max-width: 1004px) {
  /* #region Header */
  #udip-header .display-tc h1,
  .udip-cover .display-tc h1 {
    font-size: 34px;
  }
  #udip-header .display-tc h1 span:before,
  .udip-cover .display-tc h1 span:before {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-left: -15px;
  }
  #udip-header .display-tc h1 span:after,
  .udip-cover .display-tc h1 span:after {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-right: -15px;
  }
  #udip-header .display-tc h3,
  .udip-cover .display-tc h3 {
    font-size: 14px;
  }
  /* #endregion */

  /* #region Others */
  #udip-about,
  #udip-resume,
  #udip-skills,
  #udip-tips,
  #udip-issues,
  #udip-works,
  #udip-notes,
  #udip-contact,
  #udip-motivation {
    padding: 3em 0;
  }
  .info {
    margin-bottom: 3em;
  }
  .timeline:before {
    margin-left: -64px;
  }
  .timeline .timeline-heading {
    margin-bottom: 30px;
  }
  .timeline .timeline-heading > div h3 {
    float: left;
    margin-bottom: 0;
  }
  .timeline > li {
    margin-bottom: 4em;
  }
  .timeline > li > .timeline-panel {
    width: 85% !important;
  }
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
  .timeline > li.timeline-unverted {
    text-align: left;
  }
  .work {
    height: 400px;
  }
  .work .desc {
    opacity: 1;
    background: rgba(255, 255, 255, 0.6);
  }
  .work .desc h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .work .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .udip-notes {
    width: 100%;
  }
  .udip-notes .blog-text .stuff li {
    font-size: 14px;
  }
  .udip-notes .blog-bg {
    height: 400px;
  }
  .udip-notes .blog-text {
    padding: 10px;
  }
  #udip-consult .video,
  #udip-consult .choose {
    width: 100% !important;
  }
  #udip-consult .video {
    display: none;
  }
  #udip-consult .choose {
    width: 100%;
    padding: 4em 1em;
  }
  #map {
    height: 200px;
  }
  h3.animated-line.fullstack-line {
    width: 385px;
  }
  h3.animated-line.fullstack-line > hr.line-below-h2 {
    /* width: 100%; */
    width: 385px;
    margin-bottom: 0;
  }
  /* #endregion */
}

/* #endregion */

/* #region Tablets --> max-width : 992px  */

@media screen and (max-width: 992px) {
  #extra-skills .feature-left {
    margin-bottom: 30px;
  }
  ul.timeline:before {
    /* left: 90px; */
    left: 27px;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }
  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
  .udip-video {
    height: 450px;
  }
}

/* #endregion */

/* #region Smartphones --> max-width : 480px  */

@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -64px;
  }
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
  .work {
    height: 270px;
  }
  .udip-notes .blog-bg {
    height: 270px;
  }
}

/* #endregion */
